"""This script provides a work around to securely inject secrets from AWS secretsmanager into the jupyterhub config. 

This script will be passed to the hub.extraConfig, and executed by the hub pod 
on start up. As such, the base hub image is extended to include boto3 as a python
dependency.

Cloudformation is currently unable to resolve secrets referenced in EKS helm charts and manifests.
There is some relevant discussion in this github issue: https://github.com/aws/aws-cdk/issues/16476
With this extraConfig setting, we provide the hub image a custom python script to run to finish setting up
the config. The script we use here will look up the secret values and insert them into the
jupyterhub config.
"""
import boto3
import json
secretsmanager = boto3.client('secretsmanager', region_name='us-east-1')

s = json.loads(secretsmanager.get_secret_value(SecretId="{{ hub_db_secret_arn }}")["SecretString"])
c.JupyterHub.db_url = "postgresql://" + s['username'] + ":" + s['password'] + "@" + s['host'] + ":" + str(s['port'])
